@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #0B132B;
}

body::-webkit-scrollbar-thumb {
  background: #4DA3FF;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #6EB6FF;
}